/**ELEMENTE */

*{
	padding:0px;
	margin:0px;	
}

body {
	background-color:#92cdcf;;
	font-family: "Arial", sans-serif;
	color:#eeeff7;
}

textarea {
    resize: none;
}



#navigation {
    list-style-type: none;
    margin: 0;
    float:left;
    padding-top:40px;
    width: 200px;
    background-color: #31353d;
    height:300%;
}

h2 {
	margin-bottom:20px;	
}

/** ID'S **/

#login {
	padding:5px;
	float:right;
	background-color:#31353d;	
}

#header {
	background-color:#31353d;
	height:100px;
}

#navigation li a {
	display: block;
    color:#eeeff7;
    padding: 8px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #555;

}

#title{
	margin-left:10%;	
	margin-top:10px;
	width:500px;
	font-size:55px;
	float:left;
	
}

#arrows{
	padding-left:40%;
}

#arrows img{
	width:100px;
	height:100px;
	margin-left:5%;	
}

#post img {
	width:50%!important;
	padding-left:250px;
}

#content {
 	background-color:#92cdcf;
 	padding-bottom:150px;	
}


#userConfigTable {
	background-color:#eeeff7;
	color:#1c1d21;
	font-size:30px;
	margin-left:20%;
	margin-top:50px;
}

#userConfigTable img {
	width:200px;
	height:200px;
}

#userConfigTable td {
	width:300px;	
	height:200px;
	border:solid 1px #1c1d21; 
	text-align: center;
}


#change_pw {
	background-color:#eeeff7;
	color:#1c1d21;
	width:684px;
	margin-top:50px;
	margin-left:20%;
	text-align: center;
}

#change_pw input {
	margin-bottom:5px;	
}

#change_pw label {
	display:block;	
	
}

#login_error {
	visibility: hidden;
}

#comments {
	width:50%;
	background-color:#eeeff7;
	margin-left:450px;
}

/** CLASSES **/

.dropdown-content {
	margin-left:25px;	
}

.cat {
	margin-top:20px;
	padding: 8px 16px;
}

.first_navi {
	border-top:solid 1px black;	
}

.last_navi {
	border-bottom:solid 1px black;	
}

.username {
	color:#eeeff7;
	float:left;
	width:200px;
	display:inline;	
}


.pic_title {
	font-size:60px;
	margin-left:25%;
}

.single_comment {
	color:#1c1d21;
	margin-top:2px;
	border:solid 1px #1c1d21; 
	border-radius:2px;
	padding:5px;
}

.single_comment h5 {
	float:left;
		
}

.single_comment p {
	word-break: break-all;
}

.commentInput {
	margin-top:30px;
	text-align: center;	
}

.deleteButton {
	width:50px !important;
	height:50px !important;		
}

.deleteCell {
	width:70px !important;	
}

.form {
	background-color:#eeeff7;
	color:#1c1d21;
	width:400px;
	text-align: center;
	margin-top:50px;
	margin-left:20%;
}

.form label {
	display:block;
}

.form input {
	margin-bottom:20px;	
}

.form select {
	margin-bottom:20px;
}

.error {
	color:red;	
}
